@charset "UTF-8";

#footer  {
	background-color: #3a536f;
	padding: 30px;
	padding-bottom: 50px;
	display:flex;
	
}

#footer .txt {
	width:1200px;
	margin:0 auto;
}

#footer h1 {
	margin:0;
	padding:0;
	color:white;
	font-size:9px;
	text-align:center;
}
