@charset "UTF-8";

#footer  {
	background-color: #3a536f;
	padding: 30px;
	padding-bottom: 50px;
	display:flex;
	justify-content: center;
	
}

#footer .txt {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

#footer h1 {
	margin:0;
	padding:0;
	color:white;
	font-size:9px;
	text-align:center;
}

.address {
	display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}

#footer a {
	font-size:9px;
	color:white;
	font-family:'Pretendard-Regular';
	font-weight: 400;
}

#footer #line_wrap {
	display:flex;
	gap:10px;
	align-items: center;
	width:350px;
}
