@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
	margin:0;
	font-family: 'Pretendard-Regular';
	min-width:340px;
}

ul, li, form, input {
	margin:0;
	padding:0;
	list-style:none;
}

a {
	margin:0;
	padding:0;
	text-decoration: none;
	color:black;
}


nav {
	margin: 0 auto;
}

.header_wrap {
	display:flex;
	flex-direction:column;
}

.header_top_wrap {
	background-color:#172235;
	display:flex;
	justify-content: center;
}
.header_top{
	display:flex;
	justify-content:space-between;
	width:1200px;
}


.header_wrap a {
	font-family: 'Pretendard-Regular';
	padding:10px;
	color:white;
}


/* 헤더 */
.logo_wrap {
	display:flex;
	align-items: center;
}
.logo_wrap a {
	width:100%;
	padding-top: 10px;
	padding-bottom:5px;
}
.logo_wrap a img {
	width:150px;
}
.logo_right {
	display:flex;
	align-items:center;
}

.logo_right img {
	padding-left:10px;
	padding-top:2px;
	width:28px;
	height:28px;
}

.my_page {
	cursor: pointer;
	width:30px;
	height:30px;
	border:none;
	background:transparent;
	background-image : url('../images/my_account.png');
	background-repeat : no-repeat;
	background-size: 30px;
	text-indent:-9999px;
}


.header_bottom_wrap {
	background-color:#d91950;
	display:flex;
	justify-content: center;
}

.header_bottom {
	display:flex;
	width:1200px;
}

.header_bottom a {
	padding:10px;
}

.header_bottom .on {
	border-bottom:4px solid white;
}


@media (max-width:900px) {
 	.header_top {
 	width:100%;
 	}
 	.header_bottom {
 	width:100%;
 	}
}

