@charset "UTF-8";
body, li, ul, h1, h2, input, form, p {
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
}

body {
	 min-width:340px;
}

input {
	 font-family: 'Pretendard-Regular';
}

#wrap {
	background: linear-gradient(#172235, #3a536f);
	display:flex;
	justify-content: center;
	
}

#root {
	max-width:1200px;
	width:100%;
	margin-top:50px;
	margin-bottom:50px;
}

#main-section {
	padding:50px;
	min-height:800px;
	display:flex;
	flex-direction: column;
    align-items: center;
    background: #282830;
}

#main-section input {
	border:0;
	background:#fff;
	padding:10px;
	border-radius: 10px;

}

.main-section-inner {
	width:100%;
}

.main-section-inner p {
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	background:transparent;
	border-bottom:2px solid#fff;
	color:white;
}


/* 이미지 업로드 */
.update_img {
	display:flex;
	min-width:800px;
	width:100%;
	flex-direction:column;
	position:relative;
}

.upload_img {
	display:flex;
	padding:20px;
	background:#212127;
	color:white;
	align-items: center;
	justify-content: space-between;
}

.upload_img form {
	display:flex;
	flex-direction:space-between;
	align-items:center;
}

.upload_img label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
}

.upload_img #uploadBtn {
	height:38px;
	margin-top:15px;
	cursor:pointer;
	border-radius: 10px;
	color:#000000;
	border:0;
	
}

.upload_img #uploadBtn:hover{
	background: #db0442;
    color: white;
	
}

.upload_img .imgfile {
	display:flex;
	align-items:center;
}
.upload_img .imgfile h1 {
	padding-left:10px;
	font-size:18px;
}

#main-section .upload_img input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

.update_nickname {
	padding:20px;
	display:none;
	background:#212127;
	color:white;
}

.update_password {
	padding:20px;
	display:none;
	background:#212127;
	color:white;
}

.update_password h1 {
	padding: 10px 0;
}

.update_comment {
	padding:20px;
	display:none;
	background:#212127;
	color:white;
}

.update_comment h1 {
	padding: 10px 0;
}


#gametitleList {
	display:none;
	padding:20px;
	background:#212127;
	color:white;
}

/* 선호게임 */

.list_wrap {
	display:flex;
	flex-wrap:wrap;

}

.list_wrap .list_content {
		padding:10px;
}

.favorite_game_button {
	display:flex;
	justify-content:flex-end;
}

#game_submit {
	border-radius: 10px;
    color: #000000;
    border: 0;
    cursor:pointer;
    font-family: 'Pretendard-Regular';
}

#game_submit:hover{
	background:#db0442;
	color:white;
}

#submit-btn {
	border-radius: 10px;
    color: #000000;
    border: 0;
    cursor:pointer;
    font-family: 'Pretendard-Regular';
}

#submit-btn:hover{
	background:#db0442;
	color:white;
}



/*개인정보 수정*/
.update_password_input {
	padding: 10px 0;
}

.update_password input {
	width:50%;
}

#right_btn {
	padding-top:10px;
	display:flex;
	justify-content:flex-end;
	padding-bottom:50px;
}

#right_btn input {
	width:150px;
	border:1px solid #212127;
	padding:10px;
	background:#fff;
}






@media (max-width :900px) {
	
	.update_img {
	min-width: auto;
	}
	
	.upload_img {
	flex-direction:column;
	}
}








