@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

#top{
	max-width: 1200px;
	display: flex;
	justify-content: space-between;

}

#wrap {
	background: linear-gradient(#172235, #3a536f);
}

#root {
	max-width:1200px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:60px;
}

#main-section {
	background-color:white;
}


#profile_left{
	width:100%;
	background:white;
	padding:30px;
	border:1px solid #ddd;
}

#profile_left img {
	width:100px;
	height:100px;
}

#profile_center{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	border:1px solid #ddd;
	padding: 0 50px;
}

#profile_right{
	width:100%;
	background:white;
	display:flex;
	flex-direction:column;
}

#profile_right .profile_update {
	display:flex;
	align-items:center;
	border: 1px solid #ddd;
	width:100%;
	height:100%;
	justify-content: center;
	box-sizing:border-box;
}
#profile_right .delete_user {
	display:flex;
	align-items:center;
	border: 1px solid #ddd;
	width:100%;
	height:100%;
	justify-content: center;
	box-sizing:border-box;
}


#bottom{
	display: flex;
}

#bottom_left{
	width:100%;
	padding:50px;
	border:1px solid #ddd;
	
}

.bottom_write {
	background:#fff;
	margin-right:50px;
}

.bottom_reply {
	margin-top:30px;
	background:#fff;
	margin-right:50px;
}

#bottom_right div ul{
	width:200px;
	background:#fff;
	
}
#bottom_right div ul li {
	border:1px solid #ddd;
}



