@charset "UTF-8";

body, li, ul, h1, h2, input, form {
	margin:0;
	padding:0;
	list-style:none;
}

#wrap {
	background: linear-gradient(#172235, #3a536f);
	padding:50px;
}

#main-section {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.rating {
	max-width:1200px;
	background:#fff;
	padding:30px;
}

#ul-rating {
	display:flex;
	flex-direction:column;

}

#ul-rating li {
		padding-top:40px;
}