@charset "UTF-8";

body, li, ul, h1, h2, input, form, p {
	margin:0;
	padding:0;
	list-style:none;
}


input {
	border-radius:5px;
	border:none;
}

#wrap {
	background: linear-gradient(#172235, #3a536f);
	padding:50px;
	min-height:100vh;
}

#main-section {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.rating {
	max-width:1200px;
	background: linear-gradient( #3a536f,#172235);
	color:white;
	padding:30px;
}

#ul-rating {
	display:flex;
	flex-direction:column;

}

#ul-rating .memo {
	display:flex;
}

#ul-rating h1 {
	width:20%;
	font-size: 15px;
}

#ul-rating .memo input {
	width:100%;
}


#ul-rating li {
		padding-top:40px;
		padding-bottom:40px;
		border-bottom: 1px solid #ddd;
}

#ul-rating li:first-child {
	border-top:1px solid #ddd;
}


form div {
	padding-top:5px;
}

/*유저 평가*/
#ul-rating .line_post div {
	display:flex;
	padding-right:5px;
	padding-bottom:5px;
}

.user_rating {
	display:flex;
	padding-right:5px;
}
.user_rating h1 {
	font-size: 15px;
}

.user_rating input {
	margin: 0 5px;
}

.report {
	width:100%;
}
.submit_wrap {
	display:flex;
	justify-content: flex-end;
	padding-top:10px;
}
.submit {
	border:none;
	background:white;
	color:#3a536f;
	padding:5px;
}
