@charset "UTF-8";

body, ul, li, input, button, form, a, h1, h2 {
	margin:0;
	padding:0;
}

#wrap {
	background: linear-gradient(#172235, #3a536f);
	min-height:100vh;
}

#main-section {
	max-width:1200px;
	margin:0 auto;
	padding-top:50px;
}

.board_wrap {
	background:#31313c;
	display:flex;
	flex-direction:column;
	color:#fff;
	
}
.board_wrap li {
	width:100%;
}

.board_title {
	display:flex;
	align-items:center;
	text-align:center;
	background: #282830;
}

.board_title li {
	padding:5px 15px;
		white-space: nowrap;
}
.board_title li:first-child {
	width:50%;
}

.board_title li:nth-child(2) {
	width:150%;
}
.board_title li:nth-child(3) {
	width:20%;
}

.board_title li:nth-child(4) {
	width:100%;
}


#ul-board {
	display:flex;
	flex-direction:column;
	font-size:12px;
}

#ul-board li {
	display:flex;
	text-align:center;
	align-items:center;
}

#ul-board li .id {
	width:50%;
	padding:15px;
}

#ul-board li .content {
	width:150%;
	padding:15px;
	border:1px solid #515163;
	box-sizing:border-box;
	border-radius:5px;
	background:#424254;
}
#ul-board li .score {
	width:20%;
	padding:15px;
}
#ul-board li .tags {
	width:100%;
	padding:15px;
	min-height:35px;
}



/*태그 css*/
.tags div {
	display:inline-block;
	max-width:100%;
	border:1px solid red;
	border-radius:15px;
	box-sizing:border-box;
	text-align:center;
	padding:5px;
	margin:5px;
	word-break:keep-all;
	white-space: nowrap;
}

.tags .tag0{
	display: none;
}

/* 더보기 버튼 */
.view_more {
	display:flex;
	justify-content:center;
	width:100%;
	padding-top:20px;
}

.view_more button {
	width:38px;
	height:38px;
	margin:0;
	padding:0;
	background-color:#31313c;
	border:none;
	border-radius:50%;
	cursor:pointer;
}

.view_more img {
	width:36px;
	height:36px;

}





@media (max-width :900px) {
	.board_title li:nth-child(2) {
		display:none;
	}
	#ul-board li .content {
	display:none;
	}
	
	#main-section {
	padding:15px;
	padding-bottom:50px;
	}
	#wrap {
	 min-height:auto;
	}
}



