<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DLC_FRIENDS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 유저 프로필 부분 -->
  	<servlet>
		<servlet-name>ProfileFormAction</servlet-name>
		<servlet-class>controller.ProfileFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileFormAction</servlet-name>
		<url-pattern>/ProfileForm</url-pattern>
	</servlet-mapping>

	
  	<servlet>
		<servlet-name>MemberInfoModify</servlet-name>
		<servlet-class>controller.MemberInfoModify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberInfoModify</servlet-name>
		<url-pattern>/memberInfoModify</url-pattern>
	</servlet-mapping>
	
	<!-- jsp -->
	<servlet>
		<servlet-name>profile</servlet-name>
		<jsp-file>/views/profile.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CommentFormAction</servlet-name>
		<servlet-class>controller.CommentFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentFormAction</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>testInput</servlet-name>
		<jsp-file>/testInput.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>testInput</servlet-name>
		<url-pattern>/testInput</url-pattern>
	</servlet-mapping>
	
	
  
  <!--  ==========  -->

  
  <!-- 글쓰기 -->
	<servlet>
		<servlet-name>PostFormAction</servlet-name>
		<servlet-class>controller.PostFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostFormAction</servlet-name>
		<url-pattern>/WritePost</url-pattern>
	</servlet-mapping>
	<!-- 글읽기 -->
	<servlet>
		<servlet-name>ReadPostFormAction</servlet-name>
		<servlet-class>controller.ReadPostFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadPostFormAction</servlet-name>
		<url-pattern>/PostRead</url-pattern>
	</servlet-mapping>
	
	<!-- =============================================== -->
	
	<!-- 글읽기 -->
	<servlet>
		<servlet-name>post</servlet-name>
		<jsp-file>/views/post.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	
	<!-- 글쓰기 -->
	<servlet>
		<servlet-name>postWrite</servlet-name>
		<jsp-file>/views/postWrite.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>postWrite</servlet-name>
		<url-pattern>/postWrite</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dbtestGJ</servlet-name>
		<jsp-file>/views/dbtestGJ.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>dbtestGJ</servlet-name>
		<url-pattern>/dbtestGJ</url-pattern>
	</servlet-mapping>
</web-app>
